### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
### additional STS ###
out/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.log
src/main/resources/static/generated-docs

### vscode ###
.vscode
